[Desktop Entry]
Encoding=UTF-8
Name=Gsopcast
Name[it]=Gmimms
Comment=GUI for mimms, mms:// downloader
Comment[it]=GUI for mimms, mms:// downloader
Exec=gmimms
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;InstantMessaging;
